/* src/index.css */
:root {
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Ili font koji preferiraš */
  background-color: #000;
  color: white;
}

/* Osiguraj da aplikacija zauzima cijelu širinu */
#root {
  width: 100%;
}